html, h1, h2, h3, h4, h5, h6, div, span, applet, object, iframe, blockquote, pre,
a, p, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}



#header-background {
    position: absolute;
    top:0;
    margin: auto;

    min-height:100%;
    min-width:100%;
    z-index: 0;

    background-image: url('../image/image/fruit-header.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}



/*
GENERAL
-------------------------------------------------*/


.body-container {
    margin-top:310px;
    padding-bottom:343px;   /* Height of the footer*/
    min-height:300px;
}

.body-container * {
    z-index:300;
}


/*---------------
used to keep the footer at the bottom trick
*/
#full-container {
    min-height:100%;
    position:relative;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
    background-image: url('../image/image/back-wood-170-ppi.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
}

a {
    text-decoration: none;
    color:#66A82D;
}

h1 {
    font-size: 48px;
}

#main-body h1 {
    margin:0px 0px 0px 0px;
}

#magic-contact h1 {
    margin: 0px 0px 20px 0px;
    padding: 56px 0px 0px 0px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 22px;
}


h4, input[type="submit"] {
    font-size: 16px;
}

#login-box h1 {
    margin: 0 0 10px 0;
    display:inline-block;
}


#admin-panel a {
    font-size:22px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

td {
    padding-right:18px;
}



p {
    line-height: 20px;
}

a.hover-underline:hover {
    text-decoration: underline;
}

.warning {
    color: #ff634d;
}



.wrapper {
    width:960px;
    margin:0 auto;
}

.holder {
    /*margin-top:60px;*/
}



/*
COLORS
-------------------------------------------------*/


.red {
    color: #FF734D;
}

.dark-red {
    color: #B67374;
}

.light-red {
    color:#DD8A91;
}

.blue {
    color: #ddeef7;
}

.white, input[type="submit"] {
    color:#fff;
}

.grey {
    color: #2d2d2d;
}

.light-grey, input[type="text"], textarea[form="contact-form"]  {
    color: #666;
}

.teal {
    color:#0D2323;
}

.black {
    color:#000;
}

.back-teal {
    background-color: #406B6A;
}

.brown {
    color: #A6955A;
}

.back-brown {
    background-color: #FFF4CC;
}

.light-green {
    color:#8CB689;
}

.back-light-blue {
    background-color:#78bcd9;
}

.green {
    color: #66A82D;
}


.back-light-green {
    background-color: #78C436;
}

.light-green {
    color: #78C436;
}

.darker-green {
    color: #224D20;
}

.back-green {
    background-color: #D9FFDB;
}

.dark-green {
    color: #447941;
}

.back-dark-green {
    background-color: #447941;
}

.back-light-grey {
    background-color: #f1f1f1;
}

.back-black {
    background-color: #000;
}

.back-red {
    background-color: #FD795B;
}

.back-white {
    background-color: #fff;
}

.grey {
    color: #474747;
}

p {
    text-align: justify;
}

.back-dark-grey {
    background-color: #4C4C4C;
}

.outer-box-teal h2 {
    color:#87A4A4;
}

.outer-box-teal p {
    color:#fff;
}













/*
FONTS
-------------------------------------------------*/


@font-face {
    font-family: 'Arial Narrow';
    src: url('../font/ArialNarrow/ArialNarrow.eot');
    src: url('../font/ArialNarrow/ArialNarrow.eot?#iefix') format('embedded-opentype'),
    url('../font/ArialNarrow/ArialNarrow.woff') format('woff'),
    url('../font/ArialNarrow/ArialNarrow.ttf') format('truetype'),
    url('../font/ArialNarrow/ArialNarrow.otf');
    font-weight: normal;
    font-style: normal;
}

.tahoma {
    font-family: Frutiger, “Frutiger Linotype”, Tahoma, Helvetica, sans-serif;
    font-weight: lighter;
}

.lighter {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}


h1, h2, h3, h4, h5, h6, .navbar li a {
    font-family: "Arial Narrow", Arial, sans-serif;
}

.big {
    font-size:40px;
}













/*
POSITIONS
-------------------------------------------------*/


.left {
    float:left;
}

.right {
    float:right;
}

.center {
    margin:auto;
}

.align-center {
    text-align: center;
}

.overflow {
    overflow: hidden;
}

.full-width {
    width:100%;
}

.push_five {
    margin-top:5px;
}

.push_ten {
    margin-top:10px;
}

.push_twenty {
    margin-top:20px;
}

.push_twentyfive {
    margin-top: 25px;
}

.push_forty {
    margin-top: 44px;
}

.push_fifty {
    margin-top: 50px;
}

.push_seventyfive {
    margin-top: 75px;
}

.left_ten {
    margin-left:10px;
}

.left_twenty {
    margin-left:20px;
}

.left_forty {
    margin-left:40px;
}

.right_ten {
    margin-right:10px;
}
.clear {
    clear:both;
}

.break_20 {
    height:20px;
}

.sit-bottom {
    position: absolute;
    bottom: 0;
}

.relative {
    position: relative;
}

.inline {
    display:inline;
}

._80 {
    width:80%;
}












/*
BUTTONS
-------------------------------------------------*/

.global-button, input[type="submit"], .decision-button {
    /*overflow:hidden;*/
    border-radius: 8px;
    line-height: 54px;

    outline: none;
    border: 0;
    border-image-source: none;
    -webkit-appearance:none;
}


.global-button:hover, input[type="submit"]:hover {
    cursor: pointer;
    background-color:#2e4d4d;
}

.global-button, input[type="submit"] {
    background-color: #223939;
}

.decision-button {
    width:300px;

}

.decision-button:hover {
    cursor: pointer;
}

.global-button:active, input[type="submit"]:active  {

    background-color: #2e4d4d;
}

.reverse-underline {
    text-decoration: underline;
}

.reverse-underline:hover {
    text-decoration: none;
}

#login-box .xbutton {
    position: absolute;
    right:-24px;
    top:-24px;
}

.xbutton:hover {
    cursor: pointer;
}

.close {
    position:relative;
    top:48px;
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
    opacity: 0.4;
    cursor: pointer;
    font-size: 30px;
    font-family: arial;
    border-radius:5px;
}

.close:hover {
    opacity: 0.6;
}

#m:hover, #a:hover, #s:hover {
    cursor: pointer;
}
















/*
HEADER
-------------------------------------------------*/



#header-header {
    text-decoration: underline;
}







/*
MAGIC CONTACT FORM
-------------------------------------------------*/


#magic-contact {
    width:100%;
    background-image: url('../image/texture/white-op-80.png');
    background-repeat: repeat;
    position:relative;
    z-index:2;
}

.uppernav {
    background-color:#0D2323;

}

#magic-contact .middle {
    margin:0px 0px 0px 55px;
}



#header-header {
    overflow:auto; /*makes height of content inside*/
    padding:16px 10px 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#magic-contact, #magic-contact *, #login-box * {
    display:none;
}








/*
LOGIN
-------------------------------------------------*/



#blur-screen {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 500;
    opacity: .6;
    background-color: #000;
    display: none;
}



#login-box {
    z-index: 600;
    position: absolute;
    top:40px;
    left:400px;
    display:none;

    /*border: solid 20px #2d2d2d;*/
    background-color: #fff;
    width:570px;
    height:440px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 50px 30px 50px;

    box-shadow: 0px 10px 40px #000;
    border-radius:3px;
}

#login-box input[type="text"],
#login-box input[type="password"] {
    width:100%;
}

#login-box input[type="checkbox"] {

}

#login-success h1 {
    margin-top: 140px;
    font-weight: lighter;
}















/*
BOXES
-------------------------------------------------*/

#message-pop {
    display:none;
    position: absolute;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px;
    background-color: #000;
    border-radius:10px;
    z-index: 3;
}

.outer-box-grey, .innerBox, .outer-box-teal, #addressHolder, .background-white, .background-white-box {
    overflow: hidden;
}

.outer-box-teal {
     background-image: url('../image/image/magic-contact-texture.png');
     background-repeat: repeat;
}



.outer-box-grey {
    margin-bottom: 25px;
}

.outer-box-grey {
    background-color: #FCFCFC;
}

.simple-box, .outer-box-grey {
    padding:20px;
}

.innerBox {
    padding:75px 30px;
}



.background-white-box {
    background-image: url('../image/texture/cloth-overlay.png');
    background-repeat:repeat;
    background-color: #fff;
    padding:40px 60px 60px 60px;
    border-radius: 5px;
}


.innerBox {
    /*margin-bottom: 25px;*/
}

.innerBox h3 {
    /*display:inline;*/
}

.simple-box, .settings {
    border: solid 1px #d3d3d3;
    overflow:hidden;
}

.yellowform {
    clear:both;
    width:100%;
}


.yellowform input[type="text"], .yellowform input[type="password"], .yellowform textarea, #login-box input[type="text"], #login-box input[type="password"], .yellowform select {
    background-color: #FAFFBD;
}

.yellowform select, .yellowform input[type="text"], .yellowform textarea, .yellowform input[type="password"], #login-box input[type="text"], #login-box input[type="password"] {
    border:solid 1px #dcdcdc;
}

.yellowform input[type="text"], .yellowform input[type="password"], .yellowform textarea {
    color: #717171;
}

select {
    height: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.atoz {
    padding:1.501%;
    border-right:1px solid #DCDCDC;
    overflow:hidden;
}

.atoz:hover {
    background-color:#DFDCCE;
}

.alphabet {
    position: relative;
    top:1px;
}

.outer-box-teal {
    padding:10px;
}

.outer-box-teal, .inner-white-curved {
    border-radius:14px;
}

.inner-white-curved {
    padding: 20px;
    /*box-shadow: 0px 3px 6px #000;*/
}

.inner-white-curved h2 {
    padding-bottom:20px;
    font-family: "Brush Script MT";
    /*font-style: italic;*/
}

.inner-white-curved p {
    border-bottom: dashed 1px #d3d3d3;
    padding-bottom:10px;
    padding-top:10px;
    /*font-style: italic;*/
}

.speech-bubble {
    padding:10px 20px;
    height:138px;
    /*background-color: #0D2323;*/
    background-color: #9D3841;
}

.speech-bubble p {
    color:#fff;
}


#addresslist {
    width:200px;
}

#addresslist > div {
    padding:10px;
    cursor: pointer;
}

#addresslist >div:first-of-type {
    /*background-color: #0D2323;*/
}

/*#addresslist > div:first-of-type h3 {*/
/*color: #fff;*/
/*}*/

#address {
    height:100%;
}

.relative {
    position: relative;
}

.settings {
    position: absolute;
    left:-50%;
    padding:10px;
    width:200px;
}

.right-curve {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.lightBoxShadow {
    box-shadow:0 0 4px 0 #000;
}

















/*
MAIN NAVIGATION
-------------------------------------------------*/

.uppernav {
    overflow: hidden;
    margin-bottom:20px;
    color: #fff;
    padding: 5px 0px 4px 0px;
}


.uppernav p, .uppernav a {
    font-size: 12px;
}

.ui-widget-header {
    background-color: #66A82D;
}


#magic-contact *, #main-body *, table * {
    font-weight: lighter;
}

#main-body:not(.diff) {
    box-shadow:0 0 14px 0 #000;
}

#main-body {
    overflow: hidden;
    width:100%;
    margin-top:20px;
}

#logo {
    width:100%;
    overflow: hidden;
    text-align: center;
}

#logo a {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size:120px;
    color: #C21426;
}

.navbar {
    overflow:hidden;
    padding-bottom: 50px;
    position: relative;
    z-index:2;
}

.navbar, .innerBox {
    /*background-color: #fafafa;*/
}


.navbar ul, #certsHolder ul {
    width: 100%;
    display: table;
    margin-top: 25px;
}

.navbar ul li, #certsHolder ul li {
    display: table-cell;
    width: auto;
    text-align: center;
}




.navbar .left li, .navbar form {
    line-height: 60px;
}

#recipeSubMenu{
    position: absolute;
    display: none;
}

.list {
    list-style-type: none;
}

input[type="text"]{
    font-size:17px;
}

.navbar li a {
    font-size:20px;
}

p, .global-button *, span, input[type="submit"], input[type="text"], .yellowform textarea, input[type="password"], #header-header a, a, textarea[form="contact-form"], table {
    font-family: sans-serif;
    font-size: 14px;
}


input[type="password"], #header-header a {
    color: #303030;
}

p {
    color:#000;
}


.navbar li>a {
    display:block;
    text-transform:uppercase;
    padding:0px 0px 0px 40px;
    color: #303030;
    font-weight: bold;
}

#magic-contact input[type="text"]  {
    margin:10px 20px 0px 0px;
}

textarea[form="contact-form"] {
    margin:10px 0px 0px 0px;
}

#magic-contact-button {
    margin: 10px 0px 0px 0px;
    height:84px;
    width:90px;
    border-radius:5px;
    border: solid 1px #AED4B5;
}

#magic-contact-button p {
    line-height: 84px;
    color: #546657;
}

#magic-contact-button p, .global-button h5, .global-button p, .global-button h6, .global-button a, .global-button h4 {
    text-align: center;
}

.settings, .innerPad, textarea[form="contact-form"], .outer-box-grey, .innerBox, .background-white-box, .simple-box, .atoz, .outer-box-teal, .inner-white-curved, .speech-bubble {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea[form="contact-form"] {
    width:630px;
    height:82px;
    padding:10px;
    background-color: #9D3841;
    color: #fff;
}


.navbar .searchButton {
    /*background-color: #fff;*/
    /*padding:9px 8px 8px 8px;*/
    position: relative;
    top:13px;
    left:-6px;
}


input[type="text"], input[type="password"], input[type="textarea"], select {
    outline:none;
    border:none;
    background-color: #fff;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:10px;
    background-color:#9D3841;
}

#magic-contact input[type="text"] {
    color:#fff;
}

#magic-contact-button:hover {
    border: solid 1px #596d5d;
}

.navbar li>a:hover {
    color: #66A82D;
}





.lighter-grey {
    color: #a7a7a7;
}



#fly {
    z-index: 999;
    width:30px;
    height:28px;
    background-image: url('../image/image/balloon.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top:200px;
    right:0px;
}




















/*
SIDE PANEL
-------------------------------------------------*/


#admin-panel {
    position:absolute;
    left:-340px;
    top:0px;
    width:400px;
    display:block;
    z-index: 700;
    height:100%;

}

#admin-panel ul {
    margin-top: 120px;
}

#admin-panel li {
    padding:10px 0px 10px 40px;
}


#admin-panel li:hover {
    color:#fff;
    cursor: pointer;
    background-image: url('../image/image/black-opacity-20.png');
    background-repeat: repeat;
}

#rightstrip {
    height:100%;
    width: 60px;
    /*background-image: url('../image/image/black-opacity-20');*/
    background-repeat: repeat;
}

#leftstrip {
    height:100%;
    width:340px;
    background-image: url('../image/image/swirl.png');
    background-repeat: no-repeat;
    background-color:#fff;
    background-size:605 522;
    background-position: left top;


}

















/*
TABLES
-------------------------------------------------*/

table {
    border-collapse: collapse;
    width:100%;
}

.admin th {
    color: #FF734D;
    padding:0;
    text-align: left;
    padding: 12px 20px 10px 20px;
    font-size:12px;
}

.admin td {
    padding:12px 20px;
    font-size:12px;
}

.admin td {
    color: #656565;
}

.admin tr {
    border-bottom:1px solid #E5E5E5;
}

.admin tr:hover:not(.settings):not(.trDiff) {
    background-color: #e1ded1;
    cursor:pointer;
}

.upper {
    text-transform: uppercase;
}




/*
Appointment Key
--------------------------------------------------*/
.key:not(.different) {
    border-left: 1px solid lightgrey;
    margin-left: 25px;
}

.key {
    float: left;
    padding: 10px 0px 10px 20px;
}

.key img {
    margin-right: 10px;
    float: left;
    width: 25px;
    height: 25px;
}

.key h4 {
    margin-top: 3px;
}












/*
Appointment Form
-------------------------------------------------*/

#appointmentFormContainer {
    display: none;
}



/*
BLOCK
-------------------------------------------------*/


.block{

}

.block h1, .block h2, .block h3, .block h4, .block h5, .block h6{
    line-height: 250px;
}







/*
FOOTER
-------------------------------------------------*/
/*#footer {*/
/*position:absolute;*/
/*bottom:0;*/
/*width:100%;*/
/*height:305px;*/

/*}*/

/*#footer>img {*/
/*width:100%;*/
/*background-repeat: no-repeat;*/
/*z-index: 1;*/
/*position:absolute;*/
/*bottom:0;*/
/*height:354px;*/
/*}*/

/*#footerText {*/
/*z-index: 300;*/
/*position: relative;*/
/*bottom: 30px;*/
/*}*/

/*#footerText p {*/
/*font-size: 10px ;*/
/*}*/

#certsHolder {
    width:100%;
    margin-top: 50px;
}


#certsHolder ul li img {
    max-width: 78%;
    width:78%;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}


#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:343px;
    z-index: 1;
}

.desktop-right {
    float:right;
}

#footer-image {

    position: relative;
    bottom:0;
    min-height:100%;
    min-width:100%;
    z-index: 1;
    background-image: url('../image/image/veg-footer-170-ppi.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}


#footerText p {
    font-size: 12px ;
}
