<div class="innerBox back-white lightBoxShadow">
    <h3 class="teal big">
        About
    </h3>

    <div>
        <!--<img style="margin-left:20px;margin-bottom:20px;height:192px;width:256px;" src="http://lacuadramagazine.com/wp-content/uploads/sangeh-monkey-forest-101.jpg" align="right"/>-->

        <p class="push_twentyfive">
            Taryn started her professional life in South Africa, where she worked for over 12 years in a corporate
            environment. A few years into her career, Taryn was introduced to Nutrition through her Aunt who was
            suffering with severe arthritis but managed to address and successfully manage her symptoms with the help of
            a nutritionist. From this point on Nutrition became a passion for Taryn and so she decided to take the leap
            by giving up her career and studying nutrition.
        </p>

        <p class="push_ten">
            5 years later, Taryn has never looked back. Having studied through CNM and qualified in 2013 as a
            Naturopathic Nutritional Therapist. Registered through BANT and the CNHC ensuring she keeps up to date with
            the latest advancements, by requiring her to perform ongoing professional study. This allows Taryn the
            opportunity to further study in areas she is passionate about while at the same time, keeping her up to date
            with industry advancements, therefore ensuring her clients always get the very best professional standards.
        </p>

        <p class="push_ten">
            Taryn believes in ensuring that Nutrition is accessible to all, and while
            most of Taryn's clients are through word of mouth, she also operates out of Marlow's
            local health food store offering advice on supplements and products to its customers.
        </p>

        <p class="push_ten">
            Particular areas of interest for Taryn are: Digestive, Immune and Hormonal
            Disorders.
        </p>
    </div>
</div>
</div>
</div>
</div>
</div>

<!--<div class="block back-teal push_twentyfive">-->
<!--<div class="wrapper">-->
<!--<h2 class="align-center light-grey">something here that is relevent</h2>-->
<!--</div>-->
<!--</div>-->
</div>