    <div class="innerBox back-white lightBoxShadow">
                    <div class="full-width left">
                        <h3 class="teal big">
                            My Account
                        </h3>
                        <div class="push_twentyfive">
                                <div class="left">
                                    <h4 class="red">Personal Details</h4>
                                    <table class="left push_ten">
                                        <tr>
                                            <td><p>Name:</p></td>
                                            <td><p><?php echo $this->model->content['name']?></p></td>
                                            <td><a href="?action=editname">(change)</a></td>
                                        </tr>
                                        <tr>
                                            <td><p>Email:</p></td>
                                            <td><p><?php echo $this->model->content['email']?></p></td>
                                            <td><a href="?action=editemail">(change)</a></td>
                                        </tr>
                                        <tr>
                                            <td><p>Phone:</p></td>
                                            <td><p><?php echo $this->model->content['phone']?></p></td>
                                            <td><a href="?action=changephone">(change)</a></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="right" style="width:25%">
                                        <div style="width:200px" class="global-button  push_five">
                                            <a href="../account/?action=changepassword"><h5 class="white">Change Password</h5></a>
                                        </div>
                                </div>
                            </div>
                    </div>


                    <div class="clear left full-width push_twentyfive">
                        <!--left divider-->
                        <div class="left" style="width:75%">
                            <!--header-->
                            <h4 class="red">Appointments</h4>

                            <div>
                                    <p class="align-center push_ten">
                                        <?php echo $this->model->content['nextAppointmentMessage']; ?>
                                    </p>
                            </div>
                        </div>
                        <!--left divider-->
                        <div class="right" style="width:25%">
                                    <div style="width:200px" class="global-button">
                                        <a href="/account/?action=viewAllAppointments"><h5 class="white">View All</h5></a>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>


