
                <div id="ajaxResult">
                    <div class="innerBox back-white lightBoxShadow">
                        <h3 class="teal big left">
                            Appointments
                        </h3>
                        <?php
                        if(!$this->model->userObj->getIsFirstAppointment()) {
                        echo ' <div class="right">
                                    <div class="key different"><img src="../image/icon/scheduled.png" alt="error"><h4 class="tahoma left light-grey">Scheduled</h4></div>
                                    <div class="key"><img src="../image/icon/tick.png" alt="error"><h4 class="tahoma left light-grey">Attended</h4></div>
                                    <div class="key"><img src="../image/icon/cross.png" alt="error"><h4 class="tahoma left light-grey">Missed</h4></div>
                                </div>

                                <div class="full-width upper overflow push_twentyfive">
                                    <div class=" full-width clear left push_seventyfive">
                                        <table>
                                            <td><a class="hover-underline light-grey right" href="' . $this->model->content['previousMonth'] . '">' . $this->model->content['prevMonthName'] . '</a></td>
                                            <td><h3 class="light-grey align-center">' . $this->model->content['currentMonthName'] . '</h3></td>
                                            <td><a class="hover-underline light-grey" href="' . $this->model->content['nextMonth'] . '">' . $this->model->content['nextMonthName'] . '</a></td>
                                        </table>';

                                            if(sizeof($this->model->content['appointment']) > 0) {
                                                    echo '<table class="push_twenty left admin">        <tr class="trDiff">
                                                    <th>Date</th>
                                                    <th>Therapist</th>
                                                    <th class="align-center">Status</th>
                                                    <th>Time</th>
                                                    </tr>';


                                                foreach($this->model->content['appointment'] as $appoint=>$key) {
                                                        $url = "'?action=singleAppointment&i=". $key['id'] . "'";
                                                        echo  '<tr id="' . $key['id'] . '" onclick="goToPage('. $url .')">';
                                                        echo  '<td>' . $key['sDate'] . '</td>';
                                                        echo  '<td>' . $key['staff'] . '</td>';
                                                        echo  '<td><img title="' . $key['attendanceIconDesc'] . '" style="margin-left: 30px;" src="' . $key['attendanceIcon'] . '"/></td>';
                                                        echo  '<td>' . $key['start'] . ' - ' .$key['end']. '</td>';
                                                    echo '</tr>';
                                                }
                                            } else {
                                                echo '<p class="push_twentyfive align-center light-grey">Looks like you don\'t have any appointments for this month.</p>';
                                            }

                                        echo  '</table>
                                </div>
                            </div>';
                        } else {
                            echo '<p class="clear left push_twentyfive">You don\'t have any appointments yet. If you have recently booked but it is not shown please be patient and a member of staff will respond shortly.</p>';
                        }
                        ?>

                        <div id="submit" style="width:200px" class="push_twenty global-button clear center">
                            <a href="javascript:;" onclick="displayAppointmentForm()"><h5 class="white">Book An Appointment</h5></a>
                        </div>

                        <div class="push_fifty full-width clear left yellowform" id="appointmentFormContainer">

                                <div class="left">
                                    <h3 class="grey">Appointment Booking Form</h3>
                                    </br>
                                    <p class="warning" id="date-warning"></p>
                                    <form class="push_ten" id="appointmentForm" method="post">
                                        <?php echo '<input id="userId" type="hidden" name="userId" value="'.$this->model->userObj->getId().'"/>';?>
                                        <table class="light-grey">

                                            <!--DATE-->
                                            <tr>
                                                <!--<div class="left push_ten">-->
                                                <td>
                                                    <label for="datepicker">Date:</label>
                                                </td>
                                                <td>
                                                    <input style="width:100%" type="text" id="datepicker" name="time" value=""/>
                                                </td>
                                                <!--</div>-->
                                            </tr>

                                            <!--TIME-->
                                            <tr>
                                                <td>
                                                    <!--<div class="clear">-->
                                                    <label for="hour">Time:</label>
                                                </td>
                                                <td>
                                                    <select name="hour" id="hour" onchange="changeMin()" style="width:48%">
                                                        <?php
                                                                    for($i=9;$i<19;$i++) {
                                                                        echo '<option ';

                                                                         echo ' value="' . ($i<10 ? '0' : '') . $i .'">' . ($i<10 ? '0' : '') . $i .'</option>';
                                                        }
                                                        ?>
                                                    </select>


                                                    <select name="min"  id="minute" style="width:49%">
                                                        <?php
                                                                    for($i=30;$i<60;$i+=15) {
                                                                        echo '<option value="' . $i . '">' . $i . '</option>';
                                                                    }
                                                        ?>
                                                    </select>
                                                </td>
                                                <!--</div>-->
                                            </tr>


                                            <!--DURATION-->
                                            <!--<div class="">-->
                                            <tr>
                                                <td><p class="red right">(Minimum 90 mins for first appointments)</p></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="duration">Duration:</label>
                                                </td>
                                                <td>
                                                    <select style="width:100%" name="duration" id="duration">
                                                        <?php
                                                        echo '
                                                        <option value="30">30 mins</option>
                                                        <option value="90" selected>90 mins (first appointment)</option>
                                                        ';

                                                        ?>
                                                    </select>
                                                </td>
                                            </tr>



                                            <!--STAFF-->
                                            <!--<div class="">-->
                                            <tr>
                                                <td>
                                                    <label for="staff">Staff:</label>
                                                </td>
                                                <td>
                                                    <select name="staff" id="staff" style="width:100%">
                                                        <?php
                                                                foreach($this->model->content['staff'] as $staff) {
                                                        echo '<option value="' . $staff['id'] . '" selected="">' . $staff["name"] . '</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                </td>
                                            </tr>


                                            <!--VENUE-->

                                            <tr>
                                                <td>
                                                    <label for="venue">Clinic:</label>
                                                </td>
                                                <td>
                                                    <select name="venue" id="venue" style="width:100%">
                                                        <?php
                                                foreach($this->model->getVenue() as $venue) {
                                                        echo '<option value="' . $venue->getId() . '"';
                                                        if($venue->getId() == '1') echo  'selected';
                                                        echo '>' . $venue->getTown();
                                                        if ($venue->getTown() == 'Maidenhead') echo  '(' . $venue->getFirstLine() . ')';
                                                        echo '</option>';

                                                        }
                                                        ?>
                                                    </select>
                                                </td>
                                            </tr>
                                    </form>




                                    <!--SUBMIT-->
                                    <tr>
                                        <td>
                                            <div style="width:100px" class="push_twenty global-button">
                                                <a href="javascript:;" onclick="addAppointment('user')"><h6 class="white">Submit</h6></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </table>
                                </div>

                                <!--info-->
                                <h3 class="grey">Available Times</h3>
                                <div id="availabletitle" class="light-grey">
                                    <div class="push_ten"></div>
                                    <div id="available-times"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>