            <div class="push_seventyfive">
                <div id="ajaxResult">

                    <!--INGREDIENTS-->
                    <div class="outer-box-teal left"  style="width:30%">
                        <!--INNER BOX-->
                        <div class="inner-white-curved">
                            <h2 class="tahoma grey align-center">
                                - Ingredients -
                            </h2>
                            <?php
                                    foreach($this->model->getRecipe()->getIngredients() as $ingredient) {
                                        if(!empty($ingredient)) echo '<p class="light-grey">' . $ingredient . '</p>';
                            }
                            ?>

                        </div>
                    </div>


                    <!--TITLE, METHOD-->
                    <div class="right" style="width:65%">
                        <div class="background-white-box">
                            <h1 class="tahoma red">
                                <?php echo $this->model->getRecipe()->getTitle(); ?>
                            </h1>
                            <p class="italic">"<?php echo $this->model->getRecipe()->getDescription()?>"</p>
                            <h3 class="red push_twentyfive">
                                Method
                            </h3>
                            <p class="push_five">
                                <?php echo $this->model->getRecipe()->getMethod()?>
                            </p>
                        </div>

                        <!--OPTIONS-->
                        <div class="clear right push_twenty">
                            <div class="global-button align-center white right" onclick="goToPage('?action=editRecipes&i=<?php echo $this->model->getRecipe()->getId()?>')" style="width:200px">Edit</div>
                        </div>
                        <div class="clear push_twenty">
                            <div class="global-button align-center push_ten white right" onclick="deleteRecipe('<?php echo $this->model->getRecipe()->getId();?>')" style="width:200px">Delete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>