
                <div id="ajaxResult">
                    <div class="background-white-box push_seventyfive">
                        <h2 class="grey left">
                            <?php echo $this->model->content['date']; ?>
                        </h2>
                        <?php
                        if($this->model->isFilled()) {
                        echo ' <div class="right">
                                    <div class="key different"><img src="../image/icon/scheduled.png" alt="error"><h4 class="tahoma left light-grey">Scheduled</h4></div>
                                    <div class="key"><img src="../image/icon/tick.png" alt="error"><h4 class="tahoma left light-grey">Attended</h4></div>
                                    <div class="key"><img src="../image/icon/cross.png" alt="error"><h4 class="tahoma left light-grey">Missed</h4></div>
                                </div>

                                <div class="full-width upper push_twentyfive">
                                    <div class=" full-width clear left innerBox push_twentyfive">
                                        <table class="push_twenty left admin">
                                            <tr class="trDiff">
                                                <th>Client Name</th>
                                                <th>Time</th>
                                                <th class="align-center">Status</th>
                                            </tr>';

                                            foreach($this->model->content['appointment'] as $appoint=>$key) {
                                                if(!$key['break']) {
                                                    $url = "'?action=singleAppointment&i=". $key['id'] . "&u=" . $key['user'] . "'";
                                                    echo  '<tr id="' . $key['id'] . '" onclick="goToPage('. $url .')">';
                                                    echo  '<td>' . $key['userfName'] . ' ' . $key['userlName'] . '</td>';
                                                    echo  '<td>' . $key['start'] . ' - ' .$key['end']. '</td>';
                                                    echo  '<td><img title="' . $key['attendanceIconDesc'] . '" style="margin-left: 30px;" src="' . $key['attendanceIcon'] . '"/></td>';
                                                    echo '</tr>';
                                                } else {
                                                    $url = "editBreak('" . $key['id'] . "')";
                                                    echo  '<tr onclick="' . $url . '">';
                                                    echo  '<td>BREAK</td>';
                                                    echo  '<td>' . $key['start'] . ' - ' .$key['end']. '</td>';
                                                    echo  '<td></td>';
                                                    echo '</tr>';
                                                }
                                            }

                        echo            '</table>
                                </div>
                            </div>';
                        } else {
                            echo '<p class="clear left push_twentyfive">You don\'t have any appointments</p>';
                        }
                        ?>


                        <!--ADD BREAK-->


                        <div class="global-button clear left push_twenty" onclick="displayAppointmentForm()" style="width:100px;"><h3 class="align-center white">Add Break</h3></div>
                        <div class="push_twenty full-width clear left yellowform" id="appointmentFormContainer">
                                <div class="left">
                                    <h3 class="grey">Add Break</h3>
                                    </br>
                                    <p class="warning" id="date-warning"></p>
                                    <form class="push_ten" id="appointmentForm" method="post">
                                        <?php echo '<input id="userId" type="hidden" name="userId" value="'.$this->model->userObj->getId().'"/>';?>
                                        <table class="light-grey">

                                            <!--DATE-->
                                            <input type="hidden" id="datepicker" name="time" value="<?php echo $_GET['date'] ?>"/>

                                            <!--TIME-->
                                            <tr>
                                                <td>
                                                    <!--<div class="clear">-->
                                                    <label for="hour">From:</label>
                                                </td>
                                                <td>
                                                    <select class="left" onchange="changeMin()" name="hour" id="hour" style="width:50%">
                                                        <?php
                                                                    for($i=9;$i<19;$i++) {
                                                                        echo '<option ';

                                                                         echo ' value="' . ($i<10 ? '0' : '') . $i .'">' . ($i<10 ? '0' : '') . $i .'</option>';
                                                        }
                                                        ?>
                                                    </select>


                                                    <select name="min"  id="minute" style="width:50%">
                                                        <?php
                                                                    for($i=30;$i<60;$i+=15) {
                                                                        echo '<option value="' . $i . '">' . $i . '</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                </td>
                                                <!--</div>-->
                                            </tr>




                                            <!--TIME-->
                                            <tr>
                                                <td>
                                                    <!--<div class="clear">-->
                                                    <label for="hour">Till:</label>
                                                </td>
                                                <td>
                                                    <select class="left" name="hour" id="tillhour" style="width:50%">
                                                        <?php
                                                                    for($i=10;$i<20;$i++) {
                                                                        echo '<option ';

                                                                         echo ' value="' . ($i<10 ? '0' : '') . $i .'">' . ($i<10 ? '0' : '') . $i .'</option>';
                                                        }
                                                        ?>
                                                    </select>


                                                    <select name="min" id="tillmin" style="width:50%">
                                                        <?php
                                                                    for($i=0;$i<60;$i+=15) {
                                                                    echo '<option ';
                                                                        echo ' value="' . ($i<10 ? '0' : '') . $i .'">' . ($i<10 ? '0' : '') . $i .'</option>';
                                                        }
                                                        ?>
                                                    </select>
                                                </td>
                                                <!--</div>-->
                                            </tr>
                                    </form>

                                    <!--SUBMIT-->

                                    <tr>
                                        <td>
                                            <div style="width:100px" class="push_twenty global-button">
                                                <a href="javascript:;" onclick="addBreak(false)"><h6 class="white">Submit</h6></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--ALLDAY BREAK-->
                                    <tr>
                                        <td>
                                            <p class="push_twenty">OR create all day break</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="width:100px" class="global-button push_twenty">
                                                <a href="javascript:;" onclick="addBreak(true)"><h6 class="white">All Day</h6></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>