<div id="admin-panel" class="left">
    <div class="right" id="rightstrip">
        <div onclick="toggleAdminPanel()" class="right white close"><img src="../image/icon/menu-black.png"/></div>
    </div>
    <div class="left" id="leftstrip">
        <div class="push_forty left_forty">
            <h1 class="tahoma grey">
                Console
            </h1>
        </div>
        <div>
            <ul class="light-grey list">

                <a class="tahoma light-grey" <?php echo 'href="'.ROOT.'home">';?><li class="push_twenty">Home</li></a>
                <a class="tahoma light-grey" <?php echo 'href="'.ROOT.'admin/?action=users">';?><li class="push_twenty">Users</li></a>
                <a class="tahoma light-grey" <?php echo 'href="'.ROOT.'admin/?action=appointments">';?><li class="push_twenty">Appointments</li></a>
                <a class="tahoma light-grey" <?php echo 'href="'.ROOT.'admin/?action=recipes">';?><li class="push_twenty">Recipes</li></a>
            </ul>
        </div>
    </div>
</div>