
                <div id="ajaxResult">
                    <div class="background-white-box">
                        <h3 class="grey big left">
                            Appointment
                        </h3>
                        <div class="left_twenty">
                            <?php
                            $id = "'" . $this->model->content['appointment']['id'] . "'";
                            $sched = "'-1'";
                            $miss = "'0'";
                            $attend = "'1'";

                            switch($this->model->content['appointment']['attended']) {
                            case '-1':
                            echo '<div id="s" onclick="changeAppStatus(' . $id . ', ' . $sched . ')" class="key different"><img src="../image/icon/scheduled.png" alt="error"></div>
                            <div id="a" onclick="changeAppStatus(' . $id . ', ' . $attend . ')" class="key"><img src="../image/icon/tick-grey.png" alt="error"></div>
                            <div id="m" onclick="changeAppStatus(' . $id . ', ' . $miss . ')" class="key"><img src="../image/icon/cross-grey.png" alt="error"></div>';
                            break;
                            case '0':
                            echo '<div id="s" onclick="changeAppStatus(' . $id . ', ' . $sched . ')" class="key different"><img src="../image/icon/scheduled-grey.png" alt="error"></div>
                            <div id="a" onclick="changeAppStatus(' . $id . ', ' . $attend . ')" class="key"><img src="../image/icon/tick-grey.png" alt="error"></div>
                            <div id="m" onclick="changeAppStatus(' . $id . ', ' . $miss . ')" class="key"><img src="../image/icon/cross.png" alt="error"></div>';
                            break;
                            case '1':
                            echo '<div id="s" onclick="changeAppStatus(' . $id . ', ' . $sched . ')" class="key different"><img src="../image/icon/scheduled-grey.png" alt="error"></div>
                            <div id="a" onclick="changeAppStatus(' . $id . ', ' . $attend . ')" class="key"><img src="../image/icon/tick.png" alt="error"></div>
                            <div id="m" onclick="changeAppStatus(' . $id . ', ' . $miss . ')" class="key"><img src="../image/icon/cross-grey.png" alt="error"></div>';
                            break;


                            }
                            ?>

                        </div>
                        <div class="right overflow">
                            <div class="global-button left" onclick="cancelAppointment('<?php echo $this->model->content['appointment']['id']?>', 'admin')" style="width:100px;"><h5 class="white">CANCEL</h5></div>
                            <div class="global-button left_twenty left" onclick="editAppointment('<?php echo $this->model->content['appointment']['id']?>', 'admin')" style="width:100px;"><h5 class="white">EDIT</h5></div>
                        </div>




                        <div class="full-width">
                            <div class="push_twenty clear left" style="height:14px;">
                                <p id="cancelWarning" class="warning">

                                </p>
                            </div>
                            <div class="break_20"></div>

                            <div class="full-width innerBox clear left push_twentyfive">


                                <!--STAFF-->
                                <h4 class="red clear">Client</h4>
                                <a href="?action=singleuser&i=<?php echo $this->model->content['appointment']['user']?>"><p class="push_ten"><?php echo $this->model->content['appointment']['userfName'] . ' ' . $this->model->content['appointment']['userlName']?></p></a>


                                <!--WHEN-->
                                <h4 class="red clear push_twentyfive">When</h4>
                                <p class="push_ten"><?php echo $this->model->content['appointment']['sDate'] . ' at ' . $this->model->content['appointment']['start'] . ' - ' . $this->model->content['appointment']['end']?></p>

                                <!--ADDRESS-->
                                <h4 class="red clear push_twentyfive">Where</h4>
                                <?php
                                    echo '<p class="push_ten">' . $this->model->content['appointment']['venueBuildingName'] . '</p>';
                                    echo '<p>' . $this->model->content['appointment']['venueFirstLineOfAddress'] . '</p>';
                                    echo '<p>' . $this->model->content['appointment']['venueTown'] . '</p>';
                                    echo '<p>' . $this->model->content['appointment']['venueCounty'] . '</p>';
                                    echo '<p>' . $this->model->content['appointment']['venuePostcode'] . '</p>';
                                ?>

                                <!--NOTES-->
                                <h4 class="red clear push_twentyfive">Notes</h4>
                                <?php
                                    echo '<p class="push_ten">' . $this->model->content['appointment']['notes'] . '</p>';
                                ?>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
