

    <div class="wrapper">

            <div class="holder background-white-box push_seventyfive">
                <h3 class="teal big">
                    <?php echo (isset($this->model->content['header'])) ? $this->model->content['header'] : '' ?>
                </h3>

                <div class="full-width push_twentyfive" id="">

                    <div class="full-width" id="">
                           <div id="calendar"></div>
                    </div>


                </div>
            </div>
    </div>
