<div class="innerBox back-white lightBoxShadow">
    <div class="yellowform" style="width:60%">
        <h3 class="teal big">
            <?php echo $this->model->content['header']; ?>
        </h3>
        <?php echo $this->model->content['subheader']; ?>
        </p>

        <div class="push_twentyfive"></div>

        <form method="post">
            <!--old password form-->
            <p class="inline">Old Password</p>

            <p id="oldPasswordWarning" class="inline right red"><?php echo $this->model->content['warning'];?></p>

            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="password" id="oldPassword" name="oldPassword" value="">
            </div>
            <!--new password-->
            <p class="push_ten">New Password</p>

            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="password" id="newPassword" name="newPassword" value="">
            </div>
            <!--new password confirmation-->
            <p class="push_ten">Confirm New Password</p>

            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="password" id="newPasswordConfirmation"
                       name="newPasswordConfirmation" value="">
            </div>
    </div>
    <!--submit-->
    <input type="submit" style="width:200px" class="push_twentyfive left" name="submit" value="Submit!">
    </form>
</div>
</div>
</div>
</div>
</div>
</div>

