<div class="innerBox back-white lightBoxShadow">
    <div id="ajaxRes">
        <div class="yellowform" style="width:60%">
            <h3 class="teal big">
                <?php echo $this->model->content['header']; ?>
            </h3>
            <?php echo $this->model->content['subheader']; ?>
            </p>

            <div class="push_twentyfive"></div>

            <form method="post">
                <!--old password form-->
                <p class="inline">Please enter new phone number.</p>

                <p id="phoneNumberWarning" class="inline right red"><?php echo $this->model->content['warning'];?></p>

                <div class="full-width clear">
                    <input class="push_ten" style="width:100%" type="text" id="phone" name="phone" value="">
                </div>

        </div>
        <!--submit-->

        <div onclick="editPhone('<?php echo $this->model->userObj->getId();?>')" style="width:200px"
             class="global-button push_twentyfive left"><h3 class="align-center white">Submit</h3></div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>

