<div class="innerBox back-white lightBoxShadow">
    <div class="left push_ten">
        <img src="../image/icon/tick-big.png" style="width:48px; height:37px;"/>
    </div>
    <div class="left left_twenty">
        <h1 class="tahoma red left">
            <?php echo $this->model->content['confirmation-header']; ?>
        </h1>

        <p class="push_ten clear left">
            <?php echo $this->model->content['confirmation-message']; ?>
        </p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>