<div class="innerBox back-white lightBoxShadow">
    <h1 class="red"><?php echo $this->model->content['header']?></h1>

    <div class="innerBox push_twenty clear yellowform">

        </br>

        <form class="push_ten" id="recipeForm" method="post">

            <!--TITLE-->
            <div class="left push_ten full-width">
                <label for="title">Title:</label>

                <p id="title-warning" class="inline warning"></p>
                <input class="push_ten full-width" type="text" id="title" name="time"
                       value="<?php echo $this->model->getRecipe()->getTitle()?>"/>
            </div>

            <div class="clear">

            </div>

            <!--DESCRIPTION-->
            <div class="push_ten">
                <label for="description">Description:</label>
                <input class="push_ten full-width" type="text" id="description" name="description"
                       value="<?php echo $this->model->getRecipe()->getDescription()?>"/>
            </div>

            <!--INGREDIENTS-->
            <div class="push_ten">
                <label for="ingredients">Ingredients:</label>

                <p id="ingredients-warning" class="inline warning"></p>
                <textarea style="height:200px;" class="push_ten full-width" id="ingredients"
                          name="ingredients"><?php echo $this->model->getRecipe()->getIngredients()?></textarea>
            </div>

            <!--METHOD-->
            <div class="push_ten">
                <label for="method">Method:</label>

                <p id="method-warning" class="inline warning"></p>

                <p class="clear light-grey">one ingredient per line please</p>
                <textarea style="height:200px;" class="push_ten full-width" id="method" name="method"><?php echo $this->
                    model->getRecipe()->getMethod()?></textarea>
            </div>
        </form>


        <!--SUBMIT-->
        <div style="width:100px" class="push_twenty global-button">
            <a href="javascript:;" onclick="addRecipe('edit', '<?php echo $this->model->getRecipe()->getId()?>')"><h6
                    class="white">Submit</h6></a>
        </div>
        <div class="push_twentyfive" id="loading-gif"></div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
