<div class="innerBox back-white lightBoxShadow">
    <div id="ajaxRes">

        <div class="yellowform">
            <h1 class="teal"><?php echo $this->model->content['header']?></h1>
            </br>

            <form class="push_ten" method="post">
                <p id="warning" class="inline warning"></p>
                <!--FNAME-->
                <div class="left push_ten full-width">
                    <label for="forename">Forename:</label>

                    <p id="fname-warning" class="left_twenty inline warning"></p>
                    <input class="push_ten full-width" type="text" id="forename" name="forename"
                           value="<?php echo $this->model->userObj->getfName()?>"/>
                </div>

                <div class="clear"></div>

                <!--FNAME-->
                <div class="left push_ten full-width">
                    <label for="surname">Surname:</label>

                    <p id="lname-warning" class="left_twenty inline warning"></p>
                    <input class="push_ten full-width" type="text" id="surname" name="surname"
                           value="<?php echo $this->model->userObj->getlName()?>"/>
                </div>
                <div onclick="editName('<?php echo $this->model->userObj->getId();?>')"
                     class="global-button clear push_twenty left" style="width: 100px;"><h3 class="align-center white">
                    Submit</h3></div>

                <div class="push_twentyfive" id="loading-gif"></div>

            </form>


        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
