<div id="ajaxRes">
    <div class="innerBox back-white lightBoxShadow">
        <div class="yellowform" style="width:60%">
            <h3 class="teal big">
                <?php echo $this->model->content['header']; ?>
            </h3>

            <p class="push_ten">
                <?php echo $this->model->content['subheader']; ?>
            </p>

            <div class="push_twentyfive"></div>
            <p id="warning" class="inline warning"></p>

            <form>

                <!--new email-->
                <label for="newEmail" class="push_ten">New Email</label>

                <p id="emailWarning" class="left_twenty inline warning"></p>

                <div class="full-width clear">
                    <input class="push_ten" style="width:100%" type="text" id="newEmail" name="newEmail" value="">
                </div>
                <!--new email confirmation-->
                <div class="left push_ten full-width">
                    <label for="email-confirm-warning" class="push_ten">Confirm New Email</label>

                    <p id="email-confirm-warning" class="left_twenty inline warning"></p>

                    <div class="full-width push_ten clear">
                        <input style="width:100%" type="text" id="newEmailConfirmation" name="newEmailConfirmation"
                               value="">
                    </div>
                </div>
        </div>
        <!--submit-->
        <div onclick="editEmail('<?php echo $this->model->userObj->getId();?>')"
             class="global-button clear push_twenty left" style="width: 100px;"><h3 class="align-center white">
            Submit</h3></div>
        </form>
    </div>
</div>

</div>
</div>
</div>
</div>

