<div class="innerBox back-white lightBoxShadow">
    <div class="yellowform" style="width:60%">
        <h1 class="tahoma teal">
            <?php echo $this->model->content['header']; ?>
        </h1>

        <div class="push_ten">
            <p class="left">
                <?php echo $this->model->content['subheader']; ?>
            </p>

            <form method="post" action="<?php $_SERVER['PHP_SELF']?>">
                <!--email form-->
                <p id="email-warning" class="inline right red"><?php echo $this->model->content['email-warning'];?></p>
        </div>
        <div class="full-width clear">
            <input class="push_ten" style="width:100%" type="text" id="email" name="email"
                   value="<?php echo (!empty($this->model->details['email'])) ? $this->model->details['email'] : '' ?>">
        </div>
    </div>
    <!--submit-->
    <input type="submit" style="width:200px" class="push_twentyfive left" name="submit" value="Submit!">
    </form>
</div>
</div>
</div>
</div>
</div>
</div>

