<div class="innerBox back-white lightBoxShadow">
    <div class="left push_ten">
        <img style="width:38px; height:38px;" src="../image/icon/cross-big.png"/>
    </div>
    <div class="left left_twenty">
        <h1 class="tahoma red">
            Woops!
        </h1>

        <p>
            <?php echo $this->model->content['error'] ?>
        </p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>