
                <div class="innerBox back-white lightBoxShadow">
                        <h2 class="teal align-center">
                            The Functional Health Practice
                            <img style="-webkit-filter: grayscale(30%);
                                                        filter: grayscale(30%);" height="35" width="28" src="../image/image/heart-logo.png"/>
                        </h2>
                        <p class="align-center push_twentyfive">
                            The Functional Health Practice or FHP for short was established as a result of my desire to help people address the cause, rather than simply the symptoms of their condition or disease. I aim to make optimum health simple and achievable for everyone by restoring harmony through dietary change which addresses any potential dietary or genetic imbalances.
                        </p>
                        <p class="align-center push_ten">
                            I strongly believe in educating people in the importance of nutrition and the role it plays in preventative healthcare. And while this is important it is also vital to remember that each of us is unique and when it comes to individual and preventative healthcare there is no such thing as one size fits all.
                        </p>
                        <p class="align-center push_twenty">
                            Please <a class=" red" href="/register"> Register </a>for our Latest Offers, Recipes and Appointment Calendar
                        </p>

                        <p class="align-center push_twenty">
                            Alternatively, please get in <a class=" red" onclick="displayContact()" href="javascript:;">Contact</a> with me
                        </p>


                        <h2 class="teal align-center push_seventyfive">
                            Nutritional Therapy
                        </h2>

                        <p class="align-center push_twenty">
                            Nutritional Therapy that addresses the whole body and the causes of possible imbalance.
                            <span style="font-style: italic">"You are what you eat" </span> has never been truer, or more important than it is these days. We have seen a steady rise in the incidences of obesity, diabetes, cancers, hormone and immune related disorders, all of which may be related to the food we eat every day.
                        </p>

                        <p class="align-center push_ten">
                            Nutritional therapy uses food to aid nourishment and encourage the body to perform at it's optimum. Working alongside traditional medicine as a complementary therapy, Nutritional Therapy's ultimate aim is to provide your body with the tools it requires in order to attain a state of optimum health.
                        </p>

                        <h3 class="red push_twenty align-center" style="font-style: italic">
                            "Keeping you beautiful inside and out!"
                        </h3>

                        <p class="align-center push_twenty">
                            The Functional Health Practice focuses on Nutrition based advice, guidance and education. Here are just some of the conditions I work with;
                        </p>

                        <p class="align-center push_twenty">IBS</p>
                        <p class="align-center">FOOD ALLERGIES</p>
                        <p class="align-center">IMMUNE CONDITIONS</p>
                        <p class="align-center">ARTHRITIS</p>
                        <p class="align-center">CANCER</p>
                        <p class="align-center">DIABETES</p>
                        <p class="align-center">CHOLESTEROL</p>
                        <p class="align-center">HORMONE BALANCING</p>
                        <p class="align-center">MENOPAUSAL SYMPTOMS</p>

                        <h4 class="align-center push_twenty">
                            Please reach out if you have any specific conditions you would like to discuss.
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>