
    <div class="wrapper">
             <div class="holder table-cloth-border push_seventyfive">
                    <div class="background-white-box">
                        <h1 class="tahoma red">
                            Add Non User
                        </h1>

                        <div class="full-width push_twenty">

                            <!--add appointment-->
                            <div id="ajaxResult">

                                <div class=" push_twenty full-width clear yellowform">
                                    <div class="left">
                                        <p class="warning" id="date-warning"></p>
                                        <form class="push_ten" id="appointmentForm" method="post">
                                            <table class="light-grey">

                                                <!--fname-->
                                                <tr>
                                                    <td>
                                                        <label for="fname">Forename</label>
                                                    </td>
                                                    <td>
                                                        <input style="width:100%" type="text" id="fname" name="fname"
                                                               value="">
                                                    </td>
                                                </tr>
                                                <!--surname-->
                                                <tr>
                                                    <td>
                                                        <label for="sname">Surname</label>
                                                    </td>
                                                    <td>
                                                        <input style="width:100%" type="text" id="sname" name="sname"
                                                               value="">
                                                    </td>
                                                </tr>
                                                <!--phone-->
                                                <tr>
                                                    <td>
                                                        <label for="phone">Phone</label>
                                                    </td>
                                                    <td>
                                                        <input style="width:100%" type="text" id="phone" name="phone"
                                                               value="">
                                                    </td>
                                                </tr>

                                        <!--SUBMIT-->
                                        <tr>
                                            <td>
                                                <div style="width:100px" class="push_twenty global-button">
                                                    <a href="javascript:;" onclick="addNonUser()"><h6 class="white">Submit</h6></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </table>
                                    </div>

                                </div>
                </div>
            </div>
        </div>
    </div>
</div>

