<!--user nav start-->

<div class="uppernav">
    <div class="wrapper">
        <p class="white left lighter"><?php echo (LOGGED_IN) ? 'Welcome Back '.$this->model->userObj->getFullName().'!' : 'Welcome To The Functional Health Practice' ?></p>
        <div class="right">
            <p class="white"><?php echo (LOGGED_IN) ? '<a class="white lighter hover-underline" href="../account" onclick="javascript:;">My Account</a> | <a class="white lighter hover-underline" href="../authentication/logout.php">Sign Out</a>' : '<a class="white lighter hover-underline" href="javascript:;" onclick="displayLogin()">Login</a> | <a class="white lighter hover-underline" href="../register">Register</a>' ?></p>
        </div>
    </div>
</div>

<div class="body-container">
    <div class="wrapper">
        <!--<a id="logo" href="/home"></a>-->
        <div id="main-body">

            <div class="holder table-cloth-border">
                <div class="background-white-box">

                    <div id="logo"><a href="/home">FHP</a></div>
                    <div class="navbar">
                        <!--NAV-->
                        <ul class="list">
                            <li>   <?php echo '<a href="'.ROOT.'home"'; if($this->model->variables['title']=="Home") echo ' style="color:#66A82D">'; else echo '>'; ?>Home</a></li>
                            <li>   <?php echo '<a href="'.ROOT.'about"'; if($this->model->variables['title']=="About") echo ' style="color:#66A82D">'; else echo '>'; ?>About</a></li>
                            <li>   <?php echo '<a href="'.ROOT.'whattoexpect"'; if($this->model->variables['title']=="What To Expect") echo ' style="color:#66A82D">'; else echo '>'; ?>What to expect</a></li>
                            <li>   <a href="javascript:;" onclick="displayLogin()">Login</a></li>
                            <!--<li>   <?php echo '<a href="#"'; if($this->model->variables['title']=="Newsletter") echo ' style="color:#66A82D">'; else echo '>'; ?>Newsletter</a></li>-->
                            <li>   <a href="javascript:;"  onclick="displayContact(1000, 'easeOutQuint')">Contact</a></li>
                        </ul>
                    </div>





