<!--ADMIN RECIPES LIST-->
                    <div class="background-white-box push_seventyfive">
                        <h1 class="tahoma darker-green">
                            <?php echo (isset($this->model->content['header'])) ? $this->model->content['header'] : '' ?>
                        </h1>

                        <div class="full-width push_twenty" id="">
                            <div class="full-width innerBox" id="">
                                <table class="admin upper">

                                    <tr class="trDiff" >
                                        <th>Title</th>
                                        <th>Description</th>
                                    </tr>
                                    <?php
                                            foreach($this->model->getRecipe() as $item) {

                                                $url = "'?action=recipes&i=" . $item->getId() ."'";

                                                echo  '<tr class="" id="' . $item->getId() . '" onclick="goToPage('. $url .')">';
                                                    echo  '<td>' . $item->getTitle() . '</td>';
                                                    echo  '<td>' . $item->getDescription() . '</td>';
                                                echo  '</tr>';
                                            }
                                    ?>
                                </table>
                            </div>
                        </div>
                        <div class="clear">
                            <a <?php echo 'href="'.ROOT.'admin/?action=addrecipe">';?><div class="global-button align-center push_twenty white" style="width:200px">Add Recipe</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>