<div class="innerBox back-white lightBoxShadow">
    <h3 class="teal big">
        <?php echo $this->model->content['header']?>
    </h3>

    <p class="push_twentyfive"><?php echo $this->model->content['subheader']?></p>


    <div class="push_twenty alphabet">
        <!--print out the alphabet-->
        <?php
                            $letters = $this->model->content['alphabet'];
        for($i=0;$i
        <sizeof
        ($letters);$i++) {
        echo '<a href="/recipe/?action=default&sort=' . $letters[$i] . '">
        <div class="atoz left light-grey" style="';
                                if($this->model->getSortLetter() == $letters[$i]) echo 'border-bottom:3px solid #C88989;background-color:#F6F6F6;';
                                if($i+1 == sizeof($letters)) echo 'border-right:none;"
        ';

        echo '"><h6>' . $letters[$i] . '</h6></div>
    </a>';
    }
    ?>
</div>

<div class="full-width push_twentyfive" style="z-index: 0" id="">
    <div class="yellowform" class="left">

        <form action="/recipe/?action=search&page=1" method="get">

            <label class="light-grey left push_ten" for="recipeSearch"><h3>Search for a recipe</h3></label>
            <input class="left_ten left" type="text" style="width:200px" id="recipeSearch"
                   onblur="validateFormFeild('e.g. Avacado', 'recipeSearch', false)"
                   onfocus="validateFormFeild('e.g. Avacado', 'recipeSearch', false)" name="search"
                   value="e.g. Avacado"/>
            <input class="left_ten left" style="width:100px; line-height:39px; height:40px" type="submit"
                   value="Search">

            <div onclick="goToPage('?action=myrecipe')" class="global-button left left_ten"
                 style="line-height:42px;width:100px;height:40px;"><h6 class="white">My Recipes</h6></div>
            <input type="hidden" name="action" value="search"/>
        </form>

    </div>
    <div class="clear"></div>
    <?php
                        echo  $this->model->getDefaultMessage();
    if($this->model->recipeFilled()) {
    for($i=$this->model->getListStartAt(); $i<$this->model->getPageLimit(); $i++) {

    echo '
    <div class="push_twenty"><a class="red"
                                href="?action=singlerecipe&id=' . $this->model->getRecipe()[$i]->getId() . '"><h3
            class="lighter">' . $this->model->getRecipe()[$i]->getTitle() . '</h3></a>
        <h6 class="light-grey lighter"> ' . $this->model->getRecipe()[$i]->getDescription() . '</h6></div>
    ';
    }
    echo '
    <div class="push_twentyfive">';
        echo ($this->model->hasPreviousPage() ? '<a class="hover-underline light-grey left"
                                                    href="' . $this->model->getPreviousPage() . '"><h4>Previous</h4></a>
        <h4 class="light-grey left"> | </h4>' : '');
        echo ($this->model->hasNextPage() ? '<a class="hover-underline light-grey"
                                                href="' . $this->model->getNextPageHref() . '"><h4>Next</h4></a>' : '');
        echo '
    </div>
    ';
    }
    ?>
</div>
</div>
</div>
</div>
</div>
</div>
</div>