<div class="innerBox back-white lightBoxShadow">
    <div class="yellowform" style="width:60%">
        <h3 class="teal big">
            Register
        </h3>

        <form method="post" action="<?php $_SERVER['PHP_SELF']?>">
            <!--fname-->
            <div class="full-width clear left push_forty">
                <h4 class="grey left inline">Forename</h4>

                <p id="fname-warning" class="push_five inline right red"><?php echo $this->
                    model->content['fname-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="text" id="fname" name="fname"
                       value="<?php echo (!empty($this->model->details['fname'])) ? $this->model->details['fname'] : '' ?>">
            </div>

            <!--sname-->
            <div class="full-width clear push_twentyfive">
                <h4 class="grey left inline">Surname</h4>

                <p id="sname-warning" class="push_five inline right red"><?php echo $this->
                    model->content['sname-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="text" id="sname" name="sname"
                       value="<?php echo (!empty($this->model->details['sname'])) ? $this->model->details['sname'] : '' ?>">
            </div>

            <!--phone-->
            <div class="full-width clear push_twentyfive">
                <h4 class="grey left inline">Phone Number</h4>

                <p id="phone-warning" class="push_five inline right warning red"><?php echo $this->
                    model->content['phone-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="text" id="phone" name="phone"
                       value="<?php echo (!empty($this->model->details['phone'])) ? $this->model->details['phone'] : '' ?>">
            </div>

            <!--email-->
            <div class="full-width clear push_twentyfive">
                <h4 class="grey left inline">Email</h4>

                <p id="email-warning" class="push_five inline right red"><?php echo $this->
                    model->content['email-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="text" id="email" name="email"
                       value="<?php echo (!empty($this->model->details['email'])) ? $this->model->details['email'] : '' ?>">
            </div>

            <!--confirm email-->
            <div class="full-width clear push_twentyfive">
                <h4 class="grey left inline">Confirm Email</h4>

                <p id="confirm-email-warning" class="push_five inline right red"><?php echo $this->
                    model->content['confirm-email-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten light-grey" style="width:100%" type="text" id="confirm-email"
                       name="confirm-email"
                       value="<?php echo (!empty($this->model->details['confirm-email'])) ? $this->model->details['confirm-email'] : '' ?>">
            </div>

            <!--password-->
            <div class="full-width clear push_twentyfive">
                <h4 class="grey left inline">Password</h4>

                <p id="password-warning" class="push_five inline right warning red"><?php echo $this->
                    model->content['password-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="password" id="password" name="password"
                       value="<?php echo (!empty($this->model->details['password'])) ? $this->model->details['password'] : '' ?>">
            </div>

            <!--confirm password-->
            <div class="full-width clear push_twentyfive">
                <h4 class="grey left inline">Confirm Password</h4>

                <p id="confirm-password-warning" class="push_five inline right warning red"><?php echo $this->
                    model->content['confirm-password-warning'];?></p>
            </div>
            <div class="full-width clear">
                <input class="push_ten" style="width:100%" type="password" id="confirm-password" name="confirm-password"
                       value="<?php echo (!empty($this->model->details['confirm-password'])) ? $this->model->details['confirm-password'] : '' ?>">
            </div>

            <!--newsletter sign up-->
            <div class="full-width clear push_twentyfive">
                <input class="left" id="checkbox" type="checkbox" name="checkbox" <?php echo ($this->
                model->details['checkbox']) ? 'checked' : '' ?>/>
                <span class="left_ten grey">I want to receive information sent to the email provided.</span>
            </div>

    </div>
    <!--submit-->
    <input type="submit" style="width:200px" class="push_twentyfive left" name="submit" value="Register!">
    </form>
</div>
</div>
</div>
</div>
</div>
</div>

