<div class="innerBox back-white lightBoxShadow">
    <div class="yellowform" style="width:60%">
        <h1 class="tahoma teal">
            <?php echo $this->model->content['header']; ?>
        </h1>

        <p class="inline">
            <?php echo $this->model->content['subheader']; ?>
        </p>

        <p id="password-warning" class="inline right red"><?php echo $this->model->content['password-warning'];?></p>

        <form method="post" action="<?php $_SERVER['PHP_SELF']?>">
            <!--password form-->
            <div class="full-width clear">
                <input type="password" class="push_ten" style="width:100%" id="password" name="password" value="">
            </div>
            <p id="confirm-password-warning" class="push_ten light-grey">Confirm password</p>

            <div class="full-width clear">
                <input type="password" class="push_ten" style="width:100%" id="confirmPassword" name="confirmPassword"
                       value="">
            </div>
    </div>
</div>
<!--submit-->
<input type="submit" style="width:200px" class="push_twentyfive left" name="submit" value="Submit!">
</form>
</div>
</div>
</div>
</div>
</div>

