
    <div class="wrapper">
             <div class="holder table-cloth-border push_seventyfive">
                    <div class="background-white-box">
                        <h1 class="tahoma red">
                            <?php echo (isset($this->model->content['header'])) ? $this->model->content['header'] : '' ?>
                        </h1>

                        <div class="full-width push_twenty">

                            <div class="full-width innerBox upper">
                                <h5 class="light-grey">Personal Details</h5>
                                <table class="left push_twenty admin">
                                    <tr class="trDiff">
                                        <th>Id</th>
                                        <th>Forename</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Activated</th>
                                        <th>Newsletter</th>
                                    </tr>
                                    <?php
                                    foreach($this->model->content['user'] as $user=>$key) {

                                    echo '<tr class="trDiff">';
                                        echo  '<td>' . $key['id'] . '</td>';
                                        echo  '<td>' . $key['fName'] . '</td>';
                                        echo  '<td>' . $key['lName'] . '</td>';
                                        echo  '<td>' . $key['email'] . '</td>';
                                        echo  '<td>' . $key['phone'] . '</td>';
                                        echo  '<td>' . $key['verified'] . '</td>';
                                        echo  '<td>' . $key['newsletter'] . '</td>';
                                    echo '</tr>';

                                    }
                                    ?>

                                </table>
                            </div>

                            <div class="break_20"></div>

                            <div class="full-width innerBox">

                                <h5 class="light-grey upper">Appointments</h5>
                                <table>
                                    <td><a class="hover-underline light-grey right" href="<?php echo $this->model->content['previousMonth'] . '">' . $this->model->content['prevMonthName']?></a></td>
                                    <td><h2 class="light-grey align-center"><?php echo $this->model->content['currentMonthName']?></h2></td>
                                    <td><a class="hover-underline light-grey" href="<?php echo $this->model->content['nextMonth'] . '">' . $this->model->content['nextMonthName']?></a></td>
                                </table>

                                <?php
                                if(sizeof($this->model->content['appointment']) > 0) {
                                echo '<table class="push_twenty left admin">        <tr class="trDiff">
                                <th>Date</th>
                                <th>Therapist</th>
                                <th class="align-center">Attended</th>
                                <th>Time</th>
                                <th></th>
                                </tr>';


                                foreach($this->model->content['appointment'] as $appoint=>$key) {
                                $url = "'?action=singleAppointment&i=". $key['id'] . "&u=" . $key['user']."'";
                                echo  '<tr id="' . $key['id'] . '" onclick="goToPage('. $url .')">';
                                    echo  '<td>' . $key['sDate'] . '</td>';
                                    echo  '<td>' . $key['staff'] . '</td>';
                                    echo  '<td><img title="' . $key['attendanceIconDesc'] . '" style="margin-left: 30px;" src="' . $key['attendanceIcon'] . '"/></td>';
                                    echo  '<td>' . $key['start'] . ' - ' .$key['end']. '</td>';
                                    echo '</tr>';
                                }
                                } else {
                                echo '<p class="push_twentyfive align-center light-grey">Looks like ' . $this->model->userInQuestion->getfName() . ' doesn\'t have any appointments for this month.</p>';
                                }
                                ?>

                                </table>
                            </div>

                            <!--add appointment-->
                            <div id="ajaxResult">
                                <div id="submit" style="width:200px" class="push_twenty global-button clear left">
                                    <a href="javascript:;" onclick="displayAppointmentForm()"><h6 class="white">Book An Appointment</h6></a>
                                </div>


                                <div class="innerBox push_twenty full-width clear left yellowform" id="appointmentFormContainer">
                                    <div class="left">
                                        <div>
                                            <h5 class="light-grey">NEW APPOINTMENT FOR <?php echo strtoupper($this->model->userInQuestion->getFullName())?></h5>
                                        </div>


                                        <p class="warning" id="date-warning"></p>
                                        <form class="push_ten" id="appointmentForm" method="post">
                                            <?php echo '<input id="userId" type="hidden" name="userId" value="'.$this->model->userInQuestion->getId().'"/>';?>
                                            <table class="light-grey">

                                                <!--DATE-->
                                                <tr>
                                                    <!--<div class="left push_ten">-->
                                                    <td>
                                                        <label for="datepicker">Date:</label>
                                                    </td>
                                                    <td>
                                                        <input style="width:100%" type="text" id="datepicker" name="time" value=""/>
                                                    </td>
                                                    <!--</div>-->
                                                </tr>

                                                <!--TIME-->
                                                <tr>
                                                    <td>
                                                        <!--<div class="clear">-->
                                                        <label for="hour">Time:</label>
                                                    </td>
                                                    <td>
                                                        <select class="left" onchange="changeMin()" name="hour" id="hour" style="width:50%">
                                                            <?php
                                                                    for($i=9;$i<19;$i++) {
                                                                        echo '<option ';

                                                                         echo ' value="' . ($i<10 ? '0' : '') . $i .'">' . ($i<10 ? '0' : '') . $i .'</option>';
                                                            }
                                                            ?>
                                                        </select>


                                                        <select name="min"  id="minute" style="width:49%">
                                                            <?php
                                                                    for($i=30;$i<60;$i+=15) {
                                                                        echo '<option value="' . $i . '">' . $i . '</option>';
                                                            }
                                                            ?>
                                                        </select>
                                                    </td>
                                                    <!--</div>-->
                                                </tr>


                                                <!--DURATION-->
                                                <!--<div class="">-->
                                                <tr>
                                                    <td>
                                                        <label for="duration">Duration:</label>
                                                    </td>
                                                    <td>
                                                        <select style="width:100%" name="duration" id="duration">
                                                            <option value="30">30 mins</option>
                                                            <option value="90" selected>90 mins</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <?php echo ($this->model->isFirstAppointment()) ? '<p class="red clear">Minimum 90 mins for first appointments</p>' : ''; ?>
                                                </tr>


                                                <!--STAFF-->
                                                <!--<div class="">-->
                                                <tr>
                                                    <td>
                                                        <label for="staff">Staff:</label>
                                                    </td>
                                                    <td>
                                                        <select name="staff" id="staff" style="width:100%">
                                                            <?php
                                                                        foreach($this->model->content['staff'] as $staff) {
                                                            echo '<option value="' . $staff['id'] . '" selected="">' . $staff["name"] . '</option>';
                                                            }
                                                            ?>
                                                        </select>
                                                    </td>
                                                </tr>


                                                <!--VENUE-->

                                                <tr>
                                                    <td>
                                                        <label for="venue">Clinic:</label>
                                                    </td>
                                                    <td>
                                                        <select name="venue" id="venue" style="width:100%">
                                                            <?php
                                                        foreach($this->model->getVenue() as $venue) {
                                                            echo '<option value="' . $venue->getId() . '"';
                                                            echo '>' . $venue->getTown();
                                                            if ($venue->getTown() == 'Maidenhead') echo  '(' . $venue->getFirstLine() . ')';
                                                            echo '</option>';

                                                            }
                                                            ?>
                                                        </select>
                                                    </td>
                                                </tr>
                                        </form>




                                        <!--SUBMIT-->
                                        <tr>
                                            <td>
                                                <div style="width:100px" class="push_twenty global-button">
                                                    <a href="javascript:;" onclick="addAppointment('admin')"><h6 class="white">Submit</h6></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </table>
                                    </div>

                                    <!--info-->
                                    <div class="left">

                                        <h5 class="light-grey">AVAILABLE TIMES</h5>
                                        <div id="availabletitle" class="light-grey">
                                            <div class="push_ten"></div>
                                            <div id="available-times">

                                            </div>

                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


