<div id="ajaxResult">
    <div class="innerBox back-white lightBoxShadow">
        <h3 class="teal big left">
            Appointment
        </h3>


        <div class="full-width">
            <div class="push_twenty clear left" style="height:14px;">
                <p id="cancelWarning" class="warning">

                </p>
            </div>
            <div class="break_20"></div>

            <div class="full-width clear left push_twentyfive">

                <!--STAFF-->
                <h4 class="red clear">Practitioner</h4>

                <p class="push_ten"><?php echo $this->model->content['appointment']['staff']?></p>

                <!--WHEN-->
                <h4 class="red clear push_twentyfive">When</h4>

                <p class="push_ten"><?php echo $this->model->content['appointment']['sDate'] . ' at ' .
                    $this->model->content['appointment']['start'] . ' - ' .
                    $this->model->content['appointment']['end']?></p>

                <!--ADDRESS-->
                <h4 class="red clear push_twentyfive">Where</h4>
                <?php
                                        echo '<p class="push_ten">' .
                $this->model->content['appointment']['venueBuildingName'] . '</p>';
                echo '<p>' . $this->model->content['appointment']['venueFirstLineOfAddress'] . '</p>';
                echo '<p>' . $this->model->content['appointment']['venueTown'] . '</p>';
                echo '<p>' . $this->model->content['appointment']['venueCounty'] . '</p>';
                echo '<p>' . $this->model->content['appointment']['venuePostcode'] . '</p>';
                ?>

                <!--NOTES-->
                <h4 class="red clear push_twentyfive">Notes</h4>
                <?php
                                        echo '<p class="push_ten">' . $this->model->content['appointment']['notes'] . '</p>
                ';
                ?>

                <div class="left push_twentyfive overflow">
                    <div class="global-button left"
                         onclick="cancelAppointment('<?php echo $this->model->content['appointment']['id']?>', 'user')"
                         style="width:200px;"><h5 class="white">CANCEL</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
