<div class="innerBox back-white lightBoxShadow">
    <div class="diff">

        <div class="holder">

            <div class="recipe push_twenty">
                <!--INGREDIENTS-->
                <div class="outer-box-teal left" style="width:30%">
                    <!--INNER BOX-->
                    <div class="inner-white-curved">
                        <h2 class="tahoma align-center">
                            Ingredients
                        </h2>
                        <?php
                                    foreach($this->model->getRecipe()->getIngredients() as $ingredient) {
                        if(!empty($ingredient)) echo '<p>' . $ingredient . '</p>';
                        }
                        ?>
                    </div>
                </div>

                <!--TITLE, METHOD-->
                <div class="right" style="width:65%">
                    <h3 class="big">
                        <?php echo $this->model->getRecipe()->getTitle(); ?>
                    </h3>

                    <p class="italic">"<?php echo $this->model->getRecipe()->getDescription()?>"</p>

                    <h3 class="push_twentyfive">
                        Method
                    </h3>

                    <p class="push_five">
                        <?php echo $this->model->getRecipe()->getMethod()?>
                    </p>
                </div>
            </div>
        </div>
        <div class="clear left push_fifty full-width">
            <div id="savedButton" class="right">
                <?php
                $jsLink = "'" . $this->model->userObj->getId() . "','" . $this->model->getRecipeId() . "'";
                if($this->model->isSaved()) {
                echo '
                <div class="decision-button back-red clear" onclick="removeRecipe(' . $jsLink . ')"><h3
                        class="white align-center">Remove this from MyRecipes</h3></div>
                ';
                } else {
                echo '
                <div class="decision-button back-dark-green clear" onclick="saveRecipe(' . $jsLink . ')"><h3
                        class="white align-center">Save this to MyRecipes</h3></div>
                ';
                }
                ?>
            </div>

            <?php
                        echo '<div class="global-button left" style="width:100px"><a
                href="' . $_SERVER['HTTP_REFERER'] . '"><h3 class="white align-center">Back</h3></a></div>
        ';
        ?>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>