        <!--footer goes in here.-->
        <div id="footer">
            <p>Footer!</p>
        </div>

    </div>
    <!--end full-container div-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>