                    <div class="background-white-box push_seventyfive">
                        <h1 class="tahoma red left">
                            <?php echo (isset($this->model->content['header'])) ? $this->model->content['header'] : '' ?>
                        </h1>
                        <div class="global-button right push_twenty" onclick="goToPage('?action=addNonUser')" style="width:100px;"><h3 class="align-center white">Add Non User</h3></div>

                        <div class="full-width push_twenty" id="">
                            <div class="full-width innerBox" id="">
                                <table class="admin upper">

                                    <tr class="" >
                                        <th>Forename</th>
                                        <th>Surname</th>
                                        <th>Email</th>
                                    </tr>
                                    <?php
                                            foreach($this->model->content['user'] as $user=>$key) {

                                                $url = "'?action=singleuser&i=" . $key['id'] ."'";
                                                echo  '<tr class="" id="' . $key['id'] . '" onclick="goToPage('. $url .')">';
                                                    echo  '<td>' . $key['fName'] . '</td>';
                                                    echo  '<td>' . $key['lName'] . '</td>';
                                                    echo  '<td>' . $key['email'] . '</td>';
                                                echo  '</tr>';
                                            }
                                    ?>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>