<div id="admin-panel" class="left">
    <div class="right" id="rightstrip">
        <div onclick="toggleAdminPanel()" class="right white close"><img src="../image/icon/menu-black.png"/></div>
    </div>
    <div class="left" id="leftstrip">
        <div class="push_forty left_forty">
            <h1 class="tahoma grey">
               Menu
            </h1>
        </div>
        <div>
            <ul class="light-grey list">
                <a class="tahoma light-grey" href="../account"><li class="push_twenty">Account</li></a>
                <a class="tahoma light-grey" href="../account?action=viewAllAppointments"><li class="push_twenty">Appointments</li></a>
                <a class="tahoma light-grey" href="../recipe/?action=default"><li class="push_twenty">Recipes</li></a>
                <a class="tahoma light-grey" href="../authentication/logout.php"><li class="push_twenty">Sign Out</li></a>
            </ul>
        </div>
    </div>
</div>