<div class="innerBox back-white lightBoxShadow">
    <h3 class="teal big">
        Frequently Asked Questions...
    </h3>

    <div>
        <h4 class="push_twentyfive red">
            What to Expect from a Nutritional Therapy Consultation?
        </h4>

        <p class="push_ten">
            Your first session will be scheduled as an initial assessment and lasts approximately 90 Minutes. It will be
            held in a private clinic room and will be a one to one session. This first session is extremely in depth
            covering all areas of your health and wellbeing since birth. Specific questions regarding your various body
            systems and understanding your eating habits, weight history, medical symptoms and concerns, and activity
            levels, as well as your goals. We then discuss a protocol that would be suited to you and your individual
            requirements and put together a plan to get you started.
        </p>

        <h4 class="push_forty red">
            Do I need to complete any paperwork before my first appointment?
        </h4>

        <p class="push_ten">
            Yes, a 3 day food diary is required to bring along to your first consultation, once your appointment has
            been confirmed you will be emailed a form for completion.
        </p>

        <h4 class="push_forty red">
            How often would I need to meet with you?
        </h4>

        <p class="push_ten">
            Nutritional Therapy is completely individualized according to your requirements. After your first
            consultation, I may be in a better position to suggest how many follow-ups

            may be required, however this would additionally be largely dependent on the success you have in making
            positive changes. Follow-up appointments are 45 minutes long.
        </p>

        <h4 class="push_forty red">
            Do you do Skype appointments?
        </h4>

        <p class="push_ten">
            Yes, however an initial face to face consultation is always preferred but skype is a possibility if that is
            not at all possible. Any additional follow up consultations can be held on skype.
        </p>

        <h4 class="push_forty red">
            What is your cancellation policy?
        </h4>

        <p class="push_ten">
            It is requested that you give 48-hour notice if you need to cancel an appointment. (Your consideration in
            this regard would be appreciated as there is usually a waiting list and slots can be filled if sufficient
            notice is given). If less than 24 hour notice is given, the

            cost for the entire session will need to be charged.
        </p>

        <h4 class="push_forty red">
            What is your payment policy?
        </h4>

        <p class="push_ten">
            Payment is due at the time of consultation by cash or cheque. Online bank transfer is also possible and can
            be arranged at time of booking.
        </p>

        <h4 class="push_forty red">
            Will you talk with my other health care providers or GP?
        </h4>

        <p class="push_ten">
            Yes, we will talk with other health care providers or your GP if it is required to support treatment and
            with your consent.
        </p>

        <h4 class="push_forty red">
            Is this confidential?
        </h4>

        <p class="push_ten">
            All information is confidential and kept on file for up to 5 years.
        </p>

        <h4 class="push_forty red">
            Do you sell supplements?
        </h4>

        <p class="push_ten">
            Yes, FHP are happy to help you find your nearest supplier.
        </p>

        <h4 class="push_forty red">
            Can you do laboratory testing?
        </h4>

        <p class="push_ten">
            No, however FHP is happy to help you find your nearest supplier.
        </p>

        <div class="left_twenty">
            <p class="push_twenty">
                Food Intolerance testing for 50, 75,100 or 150 different foods.
            </p>

            <p>
                Endocrinology Profiles (Hormone, Thyroid, Menopause, Male hormones etc.)
            </p>

            <p>Genomics (Cardio, Detox pathways, Immuno, Neuro etc.)</p>

            <p>Gastroentestinal and immunology Profiles (Parasitology, H.Pylori, Candida, Coeliac etc.)</p>

            <p>Nutritional Profiles (Amino Acids, Fatty Acids, Vitamin D, Anaemia etc.)</p>
        </div>

        <p class="push_forty grey">
            Please get in <a class=" red" onclick="displayContact()" href="javascript:;">Contact</a> for a comprehensive
            list of tests offered as well as the associated prices.
        </p>


        <p class="push_twenty grey">
            If you have any further questions, please do not hesitate to <a class=" red" onclick="displayContact()"
                                                                            href="javascript:;">Contact</a> us or <a
                class=" red" onclick="displayLogin()" href="javascript:;">Sign In</a> for further information
        </p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>